.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #000000d1;
    overflow: auto;
}

.movie-detail-popup {
    width: 80%;
}

.close-icon {
    color: #fff;
    display: block;
    width: 2rem;
    cursor: pointer;
}

.close-icon:hover {
    background-color: red;
}

.number-page {
    color: #fff;
    font-size: 1rem;
}

.pre-btn,
.next-btn {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #93939354;
    margin: 0;
}

.filter-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: rgb(39, 39, 42);
    padding: 6px 12px;
    align-self: flex-end;
    border: 1px solid rgb(221, 221, 227);
    border-radius: 4px;
    gap: 8px;
}

.filter-button:hover {
    background-color: #bdbdbd;
    border: 1px solid rgba(242, 239, 239, 0.15);
}

.filter-icon {
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}